
.carousel-indicators li{
	width: 0.6rem;height: 0.6rem;
	background-color:#ddd ;
	border-radius:50% ;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	
}
.carousel-indicators li.active{background-color: rgb(127,209,34)!important;}
.carousel-control-prev,.carousel-control-next{
		width:40px;height:40px;
		background-color:rgba(0,0,0,.5);
		top: 40%;border-radius: 50%;
		
	}
	 .carousel-control-prev{left:0.25rem;}
	 .carousel-control-next{right:0.25rem;}
	 .border-bottom{border-width: 0.2rem !important;}
	 .nav-link:hover{
		 text-decoration:solid;
		 color:rgb(127,209,34) ;
	 }
.my-height{height: 426px;}
.w-93{width: 93%;}
.line-height{line-height: 36px;}
.font-size{font-size:12px}
/*列表样式*/
.my_bg{background-color: rgba(250,250,250,1);}
.text_small{
	font-size: 0.6rem;
}
.t_decoration{text-decoration:none}
.img_position{transition: 1s;}
.img_position:hover{
	 color:rgb(127,209,34) ;
	 
	transform: scale(1.1);}
	
.my_border_bottom{
	border-bottom: 1px solid rgb(127,209,34);
}
.breadcrumb-item + .breadcrumb-item::before {content: "|";}



